@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
  background:black;
  display:flex;
 justify-content: center;
  align-items: center;  
 text-align:center;
 font-family: 'Courgette', cursive;
}

:root {
  /* Base font size */
  font-size:0.625rem;   
  
  /* Set neon color */
  --neon-text-color: #03A9F4;
  --neon-border-color:#F50057;
}
#text{
  margin-top:10%;
  font-size: 10rem;
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 2rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 2.5s infinite alternate;     
}
@media screen and (max-width: 700px) {
  #text{
    font-size:7rem;
  }
}
@media screen and (max-width: 450px) and (min-width:150px)  {
  #text{
    font-size:4rem;}
}
@media screen and (max-width: 100px) and (min-width:20px)  {
  #text{
    font-size:1rem;}
}
#text::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#text::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

#text:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

 
 